  <scrollable-table watch="visibleProjects">
            <div class="table-responsive" ng-init="initOBxUS()">
                <table class="table table-bordered table-over">
                    <tr class="active">
                     <th style="width:11%">Requisicion</th>
                        <th>Cliente</th>
                        <th>Obra</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                    </tr>
                    <tbody>
                        <tr ng-repeat="x in detalles" class="default">
                            <td>{{ x.idCentroCostos }} - {{ x.consecutivo }}</td>
                            <td>{{ x.nombreCliente }}</td>
                            <td>{{ x.obra }}</td>
                            <td>{{ x.usuario }}</td>
                            <td>{{ x.fecha | date : "dd/MM/y" }}</td>
                            <td>{{ x.estado }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </scrollable-table>
        <hr>
        <div class='row'>
            <div class="col-sm-12">
                <button class="btn btn-primary btn-sm" ng-click='generarReporte2(1)'>PDF <i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
                <button class="btn btn-info btn-sm" ng-click='generarReporte2(2)'>XLS <i class="fa fa-file-excel-o" aria-hidden="true"></i></button>
                <button class="btn btn-warning btn-sm" ng-click='generarReporte2(3)'>Imprimir <i class="fa fa-print" aria-hidden="true"></i></button>
            </div>
        </div>
