        <scrollable-table watch="visibleProjects">
            <div class="table-responsive" ng-init="initOrden()">
                <table class="table table-bordered table-over">
                    <tr class="active">
                     <th style="width:11%">Requisicion</th>
                        <th>idInsumo</th>
                        <th>unidad</th>
                        <th>Cantidad</th>
                        <th>FechaReq</th>
                        <th>OrdenCompra</th>
                        <th>CantidadCom</th>
                        <th>FechaCompra</th>
                        <th>Status</th>
                    </tr>
                    <tbody>
                        <tr ng-repeat="x in detalles" class="default">
                            <td>{{ x.claveCompuesta }}</td>
                            <td>{{ x.idInsumo }}</td>
                            <td>{{ x.unidad }}</td>
                            <td>{{ x.cantidad }}</td>
                            <td>{{ x.fecha | date : "dd/MM/y" }}</td>
                            <td>{{ x.ordenCompra || '--' }}</td>
                            <td>{{ x.cantComprada || '--' }}</td>
                            <td>{{ x.fechaCompra || '--' | date : "dd/MM/y" }}</td>
                            <td>{{ x.estadoPartida || '--'}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
          </scrollable-table>
          <hr>
          <div class='row'>
            <div class="col-sm-12">
                <button class="btn btn-primary btn-sm" ng-click='generarReporte3(1)'>PDF <i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
                <button class="btn btn-info btn-sm" ng-click='generarReporte3(2)'>XLS <i class="fa fa-file-excel-o" aria-hidden="true"></i></button>
                <button class="btn btn-warning btn-sm" ng-click='generarReporte3(3)'>Imprimir <i class="fa fa-print" aria-hidden="true"></i></button>
            </div>
           </div>
