	<div class="panel-body">
					<fieldset id = 'field1' ng-controller="CcostosCtrl3">								
						<div class='row'>
							<div class='col-sm-6'>    
								<div class='form-group'>
									<label for="user_title">Requisición</label>
									<input type="text" id="idDetalle" class="form-control input-sm" ng-model='claveCompuesta' placeholder="claveCompuesta" maxlength=15 size=15 required disable>
								</div>
							</div>
							<div class="col-sm-6">
								<div class='form-group'>
									<label for="user_title">Status</label>
									<input type="text" id="idDetalle" class="form-control input-sm" ng-model='estadoPartida' placeholder="estadoPartida" maxlength=15 size=15 required disable>
								</div>								
							</div>
						</div>
						<div class='row'>
							<div class="col-sm-2">
								<button class="btn btn-primary btn-sm" ng-click='cargarCentroCostos3()' >Consultar <i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
							</div>
							<div class="col-sm-10">
								Para generar un reporte escriba la clave de la requisición o Status.
							</div> 
						</div>
					</fieldset>				
				</div>	