	<div class="panel-body">
					<fieldset id = 'field1' ng-controller="CcostosCtrl2">								
						<div class='row'>
							<div class='col-sm-6'>    
								<div class='form-group'>
									<label for="user_title">Obra</label>
									<input type="text" id="idInsumo" class="form-control input-sm" ng-model='obra' placeholder="obra" maxlength=9 size=9 required disable>
								</div>
							</div>
							<div class="col-sm-6">
								<div class='form-group'>
									<label for="user_title">Usuario</label>
									<input type="text" id="idInsumo" class="form-control input-sm" ng-model='usuario' placeholder="usuario" maxlength=15 size=15 required disable>
								</div>								
							</div>
						</div>
						<div class='row'>
							<div class="col-sm-2">
								<button class="btn btn-primary btn-sm" ng-click='cargarCentroCostos2()' >Consultar <i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
							</div>
							<div class="col-sm-10">
								Para generar un reporte escriba obra y usuario.
							</div> 
						</div>
					</fieldset>				
				</div>	