				<div class="panel-body">
					<fieldset id = 'field1' ng-controller="InsumosCtrl">								
						<div class='row'>
							<div class='col-sm-6'>    
								<div class='form-group'>
									<label for="user_title">Clave del Insumo</label>
									<input type="text" id="idInsumo" ng-model='claveInsumo' class="form-control input-sm" placeholder="Clave del Insumo" maxlength=9 size=9 required disable>
								</div>
							</div>
						</div>
						<div class='row'>
							<div class="col-sm-12">
								<button class="btn btn-primary btn-sm" ng-click='cargarInsumo()' >Consultar <i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
							</div>               
						</div>
					</fieldset>				
				</div>							               